.aside{
    position: fixed;
    left: 0;
    top: 0;
    background: var(--body-color);
    border-right: 1px solid rgba(0,0,0, 0.05);
    padding: 2.5rem;
    width: 110px ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 35px;
    background: hsla(353, 100%, 65%, 0.562);
    padding: 2px;
    border-radius: 2px;
    position: relative;
}
/* .logo::after{
    content: '';
    width: 4px;
    height: 4px;
    background: red;
    position: absolute;
    right: -10px;
    top: 10px;
    z-index: 949;
} */

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.nav__link{
    font-size: 1.5rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    transition: .3s;
}

.nav__link:hover{
      color: hsl(43,100%,68%);
}

.copyright{
    color: hsl(245,15%,65%);
    font-size: var(--small-font-size);
    transform: rotate(-180deg);
    writing-mode: vertical-rl; /* ! */
}


